.navCenter {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.navCenter .active {
  color: #fa5238 !important;
  font-weight: 600;
  font-size: 24px;
  padding: 10px 15px;
  height: 24px;
  line-height: 24px;
}
.navCenter .inactive {
  color: #000000;
  font-weight: 600;
  font-size: 22px;
  padding: 10px 15px;
  height: 24px;
  line-height: 24px;
}
.navCenter .inactive:hover {
  font-size: 24px;
  transition: 0.2s all;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
