.film {
  box-sizing: border-box;
  padding: 20px 10px 0;
  line-height: 20px;
  width: 100%;
  height: 450px;
}
.film .showingDetail .showingFilmPoster {
  position: relative;
}
.film .showingDetail .showingFilmPoster img {
  height: 350px;
  width: 100%;
  border-radius: 5px;
}

.film .showingDetail .showingFilmPoster .showingFilmName {
  position: relative;
}
.film .showingDetail .showingFilmPoster .showingFilmName p {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: bold;
}
.film .showingDetail .showingFilmPoster .showingFilmName span {
  font-size: 1.1rem;
}
.film .showingDetail .showingFilmPoster .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  font-size: 25px;
}
.film .showingDetail .showingFilmPoster .btn:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 25px;
  opacity: 1;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  line-height: 25px;
  padding: 10px;
  text-align: center;
  transition: 0.2s all;
  background-image: linear-gradient(to left, #fb4226, #ce3017 100%);
}
.age {
  font-size: 14px;
  background-color: rgb(251, 66, 38);
  border-radius: 4px;
  padding: 0px 5px;
  color: rgb(255, 255, 255);
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}
.film .showingDetail .showingFilmPoster .playVideo {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0px 0px;
  border: none;
}
.film .showingDetail .showingFilmPoster .playVideo img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 0px;
  box-sizing: border-box;
  border-radius: 4px;
}
