.header {
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.header-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 25px;
  top: 2px;
  text-decoration: none;
  color: transparent;
}

.header-logo__img {
  width: 100%;
}

.header-navbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-navbar__list {
  display: flex;
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 0;
}

.header-navbar__list-item {
  margin-right: 20px;
}

.header-navbar__list-item-link {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  transition: all 0.2s;
  font-weight: 500;
}

.header-navbar__list-item-link:hover {
  color: #fb4426;
}

.header-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.header-right__login-wrap {
  display: flex;
  align-items: center;
  padding-right: 10px;
  position: relative;
}

.header-right__login-wrap::after {
  content: "";
  position: absolute;
  right: 0;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 2px solid;
  border-right-color: #e9e9e9;
}

.header-login__img {
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

.header-login__text {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.header-right__location {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.header-right__location-icon {
  font-size: 1.4rem;
  margin-right: 10px;
}

.header-right__location-text {
  margin-bottom: 0;
  font-size: 1.4rem;
  margin-right: 30px;
}

.header-right__location-dropdown {
  font-size: 1.4em;
  margin-top: 3px;
}

/* CAROUSEL */
.carousel {
  cursor: pointer;
}

.carousel__slider {
  position: relative;
}

.carousel__slider-image {
  width: 100%;
  height: 100%;
}

.carousel__trailer {
  position: absolute;
  width: 100px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.carousel__slider:hover .carousel__trailer {
  visibility: visible;
  opacity: 1;
}

.carousel__trailer:hover {
  filter: brightness(0.8);
}

.carousel__trailer-play {
  height: 100%;
  width: 100%;
}

/* FILM SELECTION MENU */
.film-selection {
  position: relative;
}

.film-selection__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  z-index: 2;
}

.film-selection__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}

.film-selection__item p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.film-selection__menu-buy-ticket {
  background-color: #4a4a4a;
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  color: var(--white-color);
  font-size: 1.4rem;
}

/* SHOWING MOVIE */
.container {
  max-width: 940px;
}

.movie {
  padding: 75px 0 0;
}

.movie-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.movie-navbar li.movie-navbar--active a {
  font-size: 2.6rem;
  color: #f55238;
  font-weight: 600;
}

.movie-navbar li {
  list-style: none;
}

.movie-navbar__item-showing-movie a {
  text-decoration: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--black-color);
}

.movie-navbar__item-upcoming-movie a {
  text-decoration: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2.2rem;
  transition: all 0.2s;
  color: var(--black-color);
  font-weight: 600;
}

.movie-navbar__item-upcoming-movie a:hover {
  font-size: 2.6rem;
  color: var(--black-color);
}

/* FILM DETAIL */
.movie__detail {
  position: relative;
}

.blur {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.movie__detail-background {
  filter: blur(25px);
  margin: -11px 0 -5px -10px;
  width: calc(100% + 5px);
}

/* TOP */
.movie__detail-main-top {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 870px;
  float: none;
  margin: auto;
  clear: both;
}

.movie__detail-main-top .row {
  height: calc(100% - 200px);
}

.movie__detail-main-top .col-sm-4 {
  padding: 0;
}

.movie__detail-main-top-poster {
  background-image: url("/assets/img/film01.jpg"),
    url(/assets/img/default-film.webp);
  border-radius: 10px;
  padding-top: 147.90697674%;
  background-position: center, 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat, repeat-y;
  position: relative;
}

.movie__detail-main-top-poster:hover .movie__detail-main-top-poster-trailer {
  visibility: visible;
  opacity: 1;
}

.movie__detail-main-top-poster-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
}

.movie__detail-main-top-poster-trailer:hover {
  opacity: 0.7;
}

.movie__detail-main-top-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 10px;
}

.movie__detail-main-top-info p {
  margin: 0;
}

.movie__detail-main-top-info-1 {
  font-size: 1.4rem;
  color: #e9e9e9;
  font-weight: 600;
}
.movie__detail-main-top-info-2 {
  font-size: 2.4rem;
  color: #e9e9e9;
  font-weight: 600;
}

.slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0, 1em, 1em, 0.5em);
}

.bar {
  transform: rotate(226.8deg);
}

/*  */
.circleStar {
  text-align: center;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.c100.p100 .slice,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.rect-auto {
  clip: rect(auto, auto, auto, auto);
}
.c100 .bar,
.c100.p100 .fill,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.pie {
  position: absolute;
  border: 0.06em solid #7ed321;
  width: 0.88em;
  height: 0.88em;
  clip: rect(0, 0.5em, 1em, 0);
  border-radius: 50%;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.c100.p100 .bar:after,
.c100.p100 .fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.pie-fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100 .bar,
.c100.p100 .fill,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.pie {
  position: absolute;
  border: 0.06em solid #7ed321;
  width: 0.88em;
  height: 0.88em;
  clip: rect(0, 0.5em, 1em, 0);
  border-radius: 50%;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.c100.p100 .bar:after,
.c100.p100 .fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.pie-fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.c100 {
  position: relative;
  font-size: 126px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.c100 .circleBorder {
  width: 111px;
  height: 111px;
  background: 0 0;
  border: 7.5px solid #3a3a3a;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
}
.c100 *,
.c100 :after,
.c100 :before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  line-height: 2.4em;
  font-size: 0.42em;
  color: #fff;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top: 0.06em;
  left: 0.06em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.6;
  width: 0.88em;
  height: 0.88em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0, 1em, 1em, 0.5em);
}
.c100.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.c100.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.c100.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.c100.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.c100.p5 .bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
.c100.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.c100.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.c100.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.c100.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.c100.p10 .bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
.c100.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.c100.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.c100.p13 .bar {
  -webkit-transform: rotate(46.800000000000004deg);
  -moz-transform: rotate(46.800000000000004deg);
  -ms-transform: rotate(46.800000000000004deg);
  -o-transform: rotate(46.800000000000004deg);
  transform: rotate(46.800000000000004deg);
}
.c100.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.c100.p15 .bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
.c100.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.c100.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.c100.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.c100.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.c100.p20 .bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.c100.p21 .bar {
  -webkit-transform: rotate(75.60000000000001deg);
  -moz-transform: rotate(75.60000000000001deg);
  -ms-transform: rotate(75.60000000000001deg);
  -o-transform: rotate(75.60000000000001deg);
  transform: rotate(75.60000000000001deg);
}
.c100.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.c100.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.c100.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.c100.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.c100.p26 .bar {
  -webkit-transform: rotate(93.60000000000001deg);
  -moz-transform: rotate(93.60000000000001deg);
  -ms-transform: rotate(93.60000000000001deg);
  -o-transform: rotate(93.60000000000001deg);
  transform: rotate(93.60000000000001deg);
}
.c100.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.c100.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.c100.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.c100.p30 .bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.c100.p31 .bar {
  -webkit-transform: rotate(111.60000000000001deg);
  -moz-transform: rotate(111.60000000000001deg);
  -ms-transform: rotate(111.60000000000001deg);
  -o-transform: rotate(111.60000000000001deg);
  transform: rotate(111.60000000000001deg);
}
.c100.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.c100.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.c100.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.c100.p35 .bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
.c100.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.c100.p37 .bar {
  -webkit-transform: rotate(133.20000000000002deg);
  -moz-transform: rotate(133.20000000000002deg);
  -ms-transform: rotate(133.20000000000002deg);
  -o-transform: rotate(133.20000000000002deg);
  transform: rotate(133.20000000000002deg);
}
.c100.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.c100.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.c100.p40 .bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.c100.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.c100.p42 .bar {
  -webkit-transform: rotate(151.20000000000002deg);
  -moz-transform: rotate(151.20000000000002deg);
  -ms-transform: rotate(151.20000000000002deg);
  -o-transform: rotate(151.20000000000002deg);
  transform: rotate(151.20000000000002deg);
}
.c100.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.c100.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.c100.p45 .bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
.c100.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.c100.p47 .bar {
  -webkit-transform: rotate(169.20000000000002deg);
  -moz-transform: rotate(169.20000000000002deg);
  -ms-transform: rotate(169.20000000000002deg);
  -o-transform: rotate(169.20000000000002deg);
  transform: rotate(169.20000000000002deg);
}
.c100.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.c100.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c100.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.c100.p52 .bar {
  -webkit-transform: rotate(187.20000000000002deg);
  -moz-transform: rotate(187.20000000000002deg);
  -ms-transform: rotate(187.20000000000002deg);
  -o-transform: rotate(187.20000000000002deg);
  transform: rotate(187.20000000000002deg);
}
.c100.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.c100.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.c100.p55 .bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
.c100.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.c100.p57 .bar {
  -webkit-transform: rotate(205.20000000000002deg);
  -moz-transform: rotate(205.20000000000002deg);
  -ms-transform: rotate(205.20000000000002deg);
  -o-transform: rotate(205.20000000000002deg);
  transform: rotate(205.20000000000002deg);
}
.c100.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.c100.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.c100.p60 .bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.c100.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.c100.p62 .bar {
  -webkit-transform: rotate(223.20000000000002deg);
  -moz-transform: rotate(223.20000000000002deg);
  -ms-transform: rotate(223.20000000000002deg);
  -o-transform: rotate(223.20000000000002deg);
  transform: rotate(223.20000000000002deg);
}
.c100.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.c100.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.c100.p65 .bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
.c100.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.c100.p67 .bar {
  -webkit-transform: rotate(241.20000000000002deg);
  -moz-transform: rotate(241.20000000000002deg);
  -ms-transform: rotate(241.20000000000002deg);
  -o-transform: rotate(241.20000000000002deg);
  transform: rotate(241.20000000000002deg);
}
.c100.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.c100.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.c100.p70 .bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
.c100.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.c100.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.c100.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.c100.p74 .bar {
  -webkit-transform: rotate(266.40000000000003deg);
  -moz-transform: rotate(266.40000000000003deg);
  -ms-transform: rotate(266.40000000000003deg);
  -o-transform: rotate(266.40000000000003deg);
  transform: rotate(266.40000000000003deg);
}
.c100.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.c100.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.c100.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.c100.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.c100.p79 .bar {
  -webkit-transform: rotate(284.40000000000003deg);
  -moz-transform: rotate(284.40000000000003deg);
  -ms-transform: rotate(284.40000000000003deg);
  -o-transform: rotate(284.40000000000003deg);
  transform: rotate(284.40000000000003deg);
}
.c100.p80 .bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
.c100.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.c100.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.c100.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.c100.p84 .bar {
  -webkit-transform: rotate(302.40000000000003deg);
  -moz-transform: rotate(302.40000000000003deg);
  -ms-transform: rotate(302.40000000000003deg);
  -o-transform: rotate(302.40000000000003deg);
  transform: rotate(302.40000000000003deg);
}
.c100.p85 .bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
.c100.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.c100.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.c100.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.c100.p89 .bar {
  -webkit-transform: rotate(320.40000000000003deg);
  -moz-transform: rotate(320.40000000000003deg);
  -ms-transform: rotate(320.40000000000003deg);
  -o-transform: rotate(320.40000000000003deg);
  transform: rotate(320.40000000000003deg);
}
.c100.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.c100.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.c100.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.c100.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.c100.p94 .bar {
  -webkit-transform: rotate(338.40000000000003deg);
  -moz-transform: rotate(338.40000000000003deg);
  -ms-transform: rotate(338.40000000000003deg);
  -o-transform: rotate(338.40000000000003deg);
  transform: rotate(338.40000000000003deg);
}
.c100.p95 .bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
.c100.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.c100.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.c100.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.c100.p99 .bar {
  -webkit-transform: rotate(356.40000000000003deg);
  -moz-transform: rotate(356.40000000000003deg);
  -ms-transform: rotate(356.40000000000003deg);
  -o-transform: rotate(356.40000000000003deg);
  transform: rotate(356.40000000000003deg);
}
.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.c100 .circleBorder {
  width: 111px;
  height: 111px;
  background: 0 0;
  border: 7.5px solid #3a3a3a;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
}

.c100.p100 .slice,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.rect-auto {
  clip: rect(auto, auto, auto, auto);
}

.rating-text {
  color: #e9e9e9;
  font-size: 1.4rem;
  font-weight: 600;
}

.rating {
  display: flex;
  justify-content: center;
}

.rating-small {
  width: 25px;
  height: 25px;
}
.rating-half {
  width: 25px;
  height: 25px;
}

/* BOTTOM */
.movie__detail-main-bottom {
  transform: translate(0, -70px);
}

.navCenter {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.navCenter__list {
  list-style: none;
  padding: 10px 15px;
}

.navCenter__list a:hover {
  font-size: 2.2rem !important;
}

.navCenter__list--active a {
  font-size: 2.2rem !important;
  color: #fb4226 !important;
}

.navCenter__list a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.2s;
}

.content__list-title {
  list-style: none;
  padding: 0;
}

.content__list-title-item {
  margin: 20px;
}

.content__list-title-item a {
  text-decoration: none;
  color: #e9e9e9;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: default;
}

.content__list-detail {
  list-style: none;
  padding: 0;
}

.content__list-detail-item {
  margin: 20px;
}

.content__list-detail-item a {
  text-decoration: none;
  color: #e9e9e9;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: default;
}

.content__detail {
  list-style: none;
  padding: 0;
}

.content__detail-item {
  margin: 20px;
}

.content__detail-item a {
  text-decoration: none;
  color: #e9e9e9;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: default;
}

/* SHOWING MOVIE SLIDE */
.showing-movie__slide {
  width: 940px;
}

.showing-movie {
  position: relative;
}

.showing-movie__item-image {
  width: auto;
  height: auto;
}

.showing-movie__slide {
  padding: 0;
  width: 25%;
  display: inline-block;
}

.showing-movie__slide-item {
  padding: 20px 10px 0;
  margin-bottom: 25px;
  cursor: pointer;
}

.showing-movie__slide-item:hover .showHover {
  visibility: visible;
  opacity: 1;
}

.showing-movie__slide-item:hover .showing-movie__slide-item-trailer {
  display: block;
}

.showing-movie__slide-item .showHover {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.showing-movie__slide-item .filmThumbnail .hoverEffect {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 0;
  background: linear-gradient(to top, #000, transparent 100%);
  top: 0;
  border-radius: 4px;
}

.showing-movie__slide-item-detail {
  text-decoration: none;
}

.filmThumbnail {
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
  padding-top: 147.906977%;
  background-position: center, 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat, repeat-y;
  background-image: url("/assets/img/film01.jpg");
}
.showing-movie__slide-item-trailer {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  display: none;
  transition: all 0.2s;
}

.showing-movie__slide-item-trailer:hover {
  filter: brightness(0.7);
}
.showing-movie__slide-item-trailer-play {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}
.showing-movie__slide-item-rating {
  font-size: 16px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1;
}

.showing-movie__slide-item-rating .showing-movie__slide-item-rating-text {
  text-align: center;
  transform: scaleY(1.2);
  margin: 0;
}
.showing-movie__slide-item-rating-star {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5px 0;
}

.half {
  width: 8.08px;
  height: 10px;
  padding-bottom: 2px;
}

.smallStar {
  width: 8px;
  height: 8px;
}
.showing-movie__slide-item-info {
  position: relative;
}

.showing-movie__slide-item-info-name {
  height: 42px;
  max-height: 42px;
  font-size: 16px;
  color: #000;
  line-height: 22px;
  margin-bottom: 0;
  overflow: hidden;
  /* ... */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 600;
}

.age-type {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.age-type .age-type-general {
  background-color: #00ac4d;
}

.showing-movie__slide-item-info-name-length {
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 8px;
}

.showing-movie .slick-prev {
  left: -70px;
}

.showing-movie .slick-next {
  right: -70px;
}

/* SPACER */
.spacer {
  padding-top: 120px;
  background: url(/assets/img/spacer.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* CINEMA */
.line {
  border: 1px solid #ececec;
}
.cinema__brand-logo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.cinema__brand-logo-list::before {
  content: "";
  position: relative;
  border-left: 1px solid red;
}

.cinema__brand-logo-list-item {
  width: 78px;
  height: auto;
  padding: 5px;
  position: relative;
  padding: 14px;
  opacity: 0.5;
  transition: all 0.2s;
}

.cinema__brand-logo-list-item--active {
  opacity: 1;
}

.cinema__brand-logo-list-item:hover {
  opacity: 1;
}

.cinema__brand-logo-list-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 30px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

.cinema__brand-logo-list-img {
  width: 100%;
  height: auto;
}

.cinema__brand-location {
  display: flex;
  align-items: center;
  padding: 10px 20px 15px 20px;
  cursor: pointer;
  opacity: 0.5;
  position: relative;
  transition: all 0.2s;
}

.cinema__brand-location--active {
  opacity: 1;
}

.cinema__brand-location::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

.cinema__brand-location:hover {
  opacity: 1;
}
.cinema__brand-location-img {
  width: 50px;
  height: 50px;
}

.cinema__brand-location-img img {
  width: 100%;
  height: auto;
  flex: 1;
}

.cinema__brand-location-info {
  padding-left: 10px;
  flex: 1;
}
.cinema__brand-location-info-name {
  margin: 0;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 500;
}
.cinema__brand-location-info-name-style {
  color: #8bc541;
}
.cinema__brand-location-info-address {
  margin: 0;
  font-size: 1.2rem;
}
.cinema__brand-location-info-detail {
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fb4226 !important;
}

/* SHOWING TIME */

.cinema_showingtime-empty {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
}
.cinema__showingtime-text {
  margin: 0;
}

/* CINEPLEX DETAIL */
.cineplex-detail__top {
  position: relative;
}

#detailMainTop{
  position: relative;
}

#detailMainTop .styleBlur .posterLandscapeFilm {
  filter: blur(15px);
  margin: -11px 0 -5px -10px;
  width: calc(100% + 5px);
}

.backgroundMain{
  background-color: #fff;
}

.styleBlur{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.pointstar{

}

.avgPoint{

}

.smallStar{

}

#starMainMobile{

}

.star{

}

.posterLandscapeFilm{

}

.styleGradient{

}

.detailMainInfo{

}

.mainMaxWidth2{

}

.filmPosterTop{

}

.posterMain{

}

.infoMain{

}

.parentInfo2{

}

.detailMainInfo2{

}

.detailMainInfo1{

}

.btnBuyTicketDetail{

}

/* NEWS */
.news-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.news-navbar li.news-navbar--active a {
  font-size: 2.6rem;
  color: #f55238;
  font-weight: 600;
}

.news-navbar li {
  list-style: none;
}

.news-navbar__item-showing-news a {
  text-decoration: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--black-color);
}

.news-navbar__item-upcoming-news a {
  text-decoration: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2.2rem;
  transition: all 0.2s;
  color: var(--black-color);
  font-weight: 600;
}

.news-navbar__item-upcoming-news a:hover {
  font-size: 2.6rem;
  color: var(--black-color);
}

.news-content__left {
  margin-bottom: 20px;
}

.news-content__left-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.news-content__left-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 47px;
  transition: all 0.2s;
}

.news-content__left-title:hover {
  cursor: pointer;
  color: #fb4226;
}

.news-content__left-description {
  font-size: 1.3rem;
  margin-bottom: 15px;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}
.news-content__left-interact {
  display: flex;
}

.news-content__left-interact-likes {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.news-content__left-interact-likes-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.news-content__left-interact-likes-icon:hover {
  transform: scale(1.1);
}

.news-content__left-interact-likes-icon img {
  width: 100%;
  height: 100%;
}

.news-content__left-interact-likes-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb;
}

.news-content__left-interact-comment {
  display: flex;
  align-items: center;
}

.news-content__left-interact-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.news-content__left-interact-comment-icon:hover {
  transform: scale(1.1);
}

.news-content__left-interact-comment-icon img {
  width: 100%;
  height: 100%;
}

.news-content__left-interact-comment-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb;
}

/* BOTTOM RIGHT */
.news-content__bottom-left {
  margin-bottom: 20px;
}

.news-content__bottom-left-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.news-content__bottom-left-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  transition: all 0.2s;
}

.news-content__bottom-left-title:hover {
  cursor: pointer;
  color: #fb4226;
}

.news-content__bottom-left-description {
  font-size: 1.3rem;
  margin-bottom: 15px;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}
.news-content__bottom-left-interact {
  display: flex;
}

.news-content__bottom-left-interact-likes {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.news-content__bottom-left-interact-likes-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.news-content__bottom-left-interact-likes-icon:hover {
  transform: scale(1.1);
}

.news-content__bottom-left-interact-likes-icon img {
  width: 100%;
  height: 100%;
}

.news-content__bottom-left-interact-likes-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb;
}

.news-content__bottom-left-interact-comment {
  display: flex;
  align-items: center;
}

.news-content__bottom-left-interact-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.news-content__bottom-left-interact-comment-icon:hover {
  transform: scale(1.1);
}

.news-content__bottom-left-interact-comment-icon img {
  width: 100%;
  height: 100%;
}

.news-content__bottom-left-interact-comment-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb;
}

.news-content__right {
  margin-bottom: 20px;
}

.news-content__right-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.news-content__right-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 47px;
  transition: all 0.2s;
}

.news-content__right-title:hover {
  cursor: pointer;
  color: #fb4226;
}

.news-content__right-description {
  font-size: 1.3rem;
  margin-bottom: 15px;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}
.news-content__right-interact {
  display: flex;
}

.news-content__right-interact-likes {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.news-content__right-interact-likes-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.news-content__right-interact-likes-icon:hover {
  transform: scale(1.1);
}

.news-content__right-interact-likes-icon img {
  width: 100%;
  height: 100%;
}

.news-content__right-interact-likes-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb;
}

.news-content__right-interact-comment {
  display: flex;
  align-items: center;
}

.news-content__right-interact-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.news-content__right-interact-comment-icon:hover {
  transform: scale(1.1);
}

.news-content__right-interact-comment-icon img {
  width: 100%;
  height: 100%;
}

.news-content__right-interact-comment-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb;
}

/* BOTTOM MID */
.news-content__bottom-mid {
  margin-bottom: 20px;
}

.news-content__bottom-mid-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.news-content__bottom-mid-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  transition: all 0.2s;
}

.news-content__bottom-mid-title:hover {
  cursor: pointer;
  color: #fb4226;
}

.news-content__bottom-mid-description {
  font-size: 1.3rem;
  margin-bottom: 15px;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}
.news-content__bottom-mid-interact {
  display: flex;
}

.news-content__bottom-mid-interact-likes {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.news-content__bottom-mid-interact-likes-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.news-content__bottom-mid-interact-likes-icon:hover {
  transform: scale(1.1);
}

.news-content__bottom-mid-interact-likes-icon img {
  width: 100%;
  height: 100%;
}

.news-content__bottom-mid-interact-likes-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb;
}

.news-content__bottom-mid-interact-comment {
  display: flex;
  align-items: center;
}

.news-content__bottom-mid-interact-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.news-content__bottom-mid-interact-comment-icon:hover {
  transform: scale(1.1);
}

.news-content__bottom-mid-interact-comment-icon img {
  width: 100%;
  height: 100%;
}

.news-content__bottom-mid-interact-comment-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb;
}

/* XEM THEM */
.news__viewmore {
  width: 100%;
  margin-bottom: 35px;
}
.news__viewmore-btn {
  padding: 7px 25px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  transition: all 0.2s;
}

.news__viewmore-btn:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff !important;
}

.news-content__bottom-right {
  margin-bottom: 20px;
}

.news-content__bottom-right-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 10px;
}

.news-content__bottom-right-item:hover {
  color: #fb4226;
}

.news-content__bottom-right-img {
  width: 50px;
  height: 50px;
}

.news-content__bottom-right .news-content__bottom-right-img img {
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all 0.2s;
  flex: 1;
}

.news-content__bottom-right-description {
  margin: 0;
  font-size: 1.7rem;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
  transition: color 0.2s;
  flex: 1;
  padding-left: 10px;
}

.news-content__bottom-right-title {
  padding-left: 10px;
}

/* NEWS DETAIL */
.news-detail__title-top {
  position: relative;
  margin-top: 9%;
}

.news-detail__title-top p {
  max-width: 800px;
  text-align: center;
  margin: auto;
  font-size: 4.8rem;
  font-weight: 600;
}

.news-detail__author {
  position: absolute;
  transform: rotate(-90deg);
  color: #737576;
  font-size: 12px;
  top: 86%;
  right: -29%;
  font-weight: 600;
}

.news-detail__title-count {
  display: flex;
  margin-top: 3%;
  justify-content: center;
}

.news-detail__title-count-like {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}

.news-detail__title-count-like-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2;
  padding-right: 5px;
}

.news-detail__title-count-like:hover .news-detail__title-count-like-icon {
  transform: scale(1.1);
}

.news-detail__title-count-like-icon img {
  width: 100%;
  height: auto;
}
.news-detail__title-count-like-numbs {
  font-size: 1.4rem;
  color: #7375a0;
}

.news-detail__title-count-comment {
  margin-right: 25px;
  cursor: pointer;
  margin-right: 25px;
}
.news-detail__title-count-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2;
  padding-right: 5px;
}
.news-detail__title-count-comment-numbs {
  font-size: 1.4rem;
  color: #7375a0;
}
.news-detail__title-count-share {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}
.news-detail__title-count-share-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2;
}
.news-detail__title-count-share-numbs {
  font-size: 1.4rem;
  color: #7375a0;
}

.news-detail__content {
  margin-top: 40px;
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 400;
}

.news-detail__content p {
  margin: 20px auto 0;
  max-width: 720px;
}

.news-detail__content-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.news-detail__review {
  max-width: 580px;
  margin: 0 calc(50% - 290px);
  padding: 0;
  position: relative;
}

.news-detail__review-avatar {
  position: absolute;
  top: 20%;
  left: 3%;
}

.news-detail__review-avatar img {
  width: 36px;
  height: 36px;
  border-radius: 25px;
}

.news-detail__review-input {
  appearance: none;
  padding: 10px 10px 10px 55px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #e8e8e9;
  background: #fff;
  color: #9b9b9b;
  font-size: 1.4rem;
  outline: none;
}
/* APP */
.app {
  background-image: url("/assets/img/backapp.jpg");
  padding: 120px 0 80px;
}

.app__content-download {
  color: var(--white-color);
  padding: 70px 15px 0;
}

.app__content-download-text {
  font-size: 3.2rem;
  font-weight: 600;
}

.app__content-download-text-small {
  font-size: 1.6rem;
  margin: 20px 0;
}
.app__content-download-btn {
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.app__content-download-text-bottom a {
  text-decoration: underline !important;
  cursor: pointer !important;
  font-weight: 600;
}

.app__content-download-text-bottom {
  font-size: 1.4rem;
  margin: 5px 0 0;
}

.app__content-mobile {
  position: relative;
  padding: 0;
}

.app__content-mobile-img {
  padding: 0 28%;
  overflow: hidden;
}

.app__content-mobile-img img {
  max-width: 100%;
}

.app__content-mobile-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5% 29.3% 0 29.3%;
}

.app__content-mobile-slider .slick-list {
  border-radius: 20px;
}

/* FOOTER */
.footer {
  background-color: #222;
  color: #949494;
  padding: 20px 0;
}

.footer__content-about p {
  font-size: 1.1rem;
  color: var(--white-color);
  font-weight: 600;
}

.footer__content-about-left {
  display: flex;
  flex-direction: column;
}

.footer__content-about-left a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #949494;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer__content-about-right {
  display: flex;
  flex-direction: column;
}

.footer__content-about-right a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #949494;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer__content-partner p {
  font-size: 1.1rem;
  color: var(--white-color);
  font-weight: 600;
  text-transform: uppercase;
}
.footer__content-partner-logo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

.mg {
  margin-bottom: 15px;
}

.mg a {
  text-decoration: none;
  transition: all 0.2s;
}

.mg a:hover {
  opacity: 0.7;
}

.footer__content-apps p {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--white-color);
  font-weight: 600;
}

.footer__content-apps-img {
  background: 0 0;
  height: 30px;
  width: auto;
  margin: 5px;
}

.footer__content__apps-logo a {
  text-decoration: none;
}

.footer__content-about a:hover {
  transition: all 0.2s;
  color: var(--white-color);
}

.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.zion-logo {
  width: 80px;
  height: auto;
  border-radius: 8px;
}

.footer__content-info {
  padding-left: 20px;
}

.footer__content-info span {
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer__content-info span:first-child {
  color: var(--white-color);
}

.bct-logo {
  width: 130px;
  float: right;
}
