@import './src/styles/scss/navbar';
@import './src/styles/scss/variables';
@import './src/styles/scss/carousel';
@import './src/styles/scss/film-selection';
@import './src/styles/scss/login';
@import './src/styles/scss/fade-loading';
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
