.header {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0; }

.header-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 25px;
  top: 2px;
  text-decoration: none;
  color: transparent;
  cursor: pointer; }

.header-logo__img {
  width: 100%; }

.header-navbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-navbar__list {
  display: flex;
  padding-left: 0px;
  list-style-type: none;
  margin-bottom: 0; }

.header-navbar__list-item {
  margin-right: 20px; }

.header-navbar__list-item-link {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  transition: all 0.2s;
  font-weight: 500; }
  .header-navbar__list-item-link:hover {
    color: #fb4426; }

.header-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%); }

.header-right__login-wrap {
  display: flex;
  align-items: center;
  padding-right: 10px;
  position: relative; }
  .header-right__login-wrap:after {
    content: '';
    position: absolute;
    right: 0;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-right: 2px solid;
    border-right-color: #e9e9e9; }

.header-login__img {
  height: auto;
  width: 30px;
  border-radius: 25px;
  margin-right: 5px; }

.header-login__text {
  margin-bottom: 0;
  font-size: 1.4rem;
  margin-top: 0; }

.header-right__location {
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative; }

.header-right__location-icon {
  font-size: 1.4rem;
  margin-right: 10px; }

.header-right__location-text {
  font-size: 1.3rem;
  margin: 0 30px 0 0;
  min-width: 80px; }

.header-right__location-dropdown-icon {
  font-size: 1.4em;
  margin-top: 3px; }

.header-right__location-dropdown {
  font-size: 1.4rem;
  position: absolute;
  top: 210%;
  left: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 160px;
  max-height: 300px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  overflow-y: scroll; }

.header-right__location-dropdown-list {
  padding: 3px 20px;
  transition: 0.2 all; }
  .header-right__location-dropdown-list:hover {
    background-color: #60c5ef; }

#custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5; }

#custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5; }

#custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc; }

.carousel {
  cursor: pointer; }

.carousel__slider {
  position: relative; }
  .carousel__slider:hover .carousel__trailer {
    visibility: visible;
    opacity: 1; }

.carousel__slider-image {
  width: 100%;
  height: 100%; }

.carousel__trailer {
  position: absolute;
  width: 100px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s; }
  .carousel__trailer:hover {
    filter: brightness(0.8); }

.carousel__trailer-play {
  height: 100%;
  width: 100%; }

.modal-video-close-btn {
  right: -18px !important;
  top: -21px !important;
  width: 40px !important;
  height: 40px !important;
  border: 2px solid white;
  border-radius: 50%; }
  .modal-video-close-btn::before {
    width: 20px !important;
    height: 4px !important;
    margin-top: -1px !important;
    left: 9px !important; }
  .modal-video-close-btn::after {
    width: 20px !important;
    height: 4px !important;
    margin-top: -1px !important;
    left: 9px !important; }

.film-selection {
  position: relative; }

.film-selection__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2; }

.film-selection__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  position: relative; }

.film-selection__item p {
  margin-bottom: 0;
  font-size: 1.4rem; }

.film-selection__menu-buy-ticket {
  background-color: #fb4226;
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  color: #fff;
  font-size: 1.4rem;
  transition: 0.2 all; }
  .film-selection__menu-buy-ticket:hover {
    background-color: #b42a14; }

.signin {
  margin: 0 auto;
  float: left;
  padding: 0 calc(50% - 430px);
  box-sizing: border-box; }

.signin-vertical {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/img/bg2.jpg");
  background-size: cover;
  background-position: center; }
  .signin-vertical .signin-wrapper {
    max-width: 360px;
    padding: 40px 32px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom, rgba(20, 50, 93, 0.9), rgba(8, 22, 48, 0.9));
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
    text-align: center;
    color: #fff;
    border-radius: 6px; }
    .signin-vertical .signin-wrapper .signin-header {
      width: 209px;
      margin-bottom: 50px;
      cursor: pointer; }
    .signin-vertical .signin-wrapper .sigin-input {
      min-height: 37px;
      min-width: 296px;
      font-size: 1.5rem;
      border-radius: 0.25rem;
      appearance: none;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border: 1px solid #ced4da;
      line-height: 1.5;
      padding: 0.375rem 0.75rem;
      font-weight: 400;
      display: block;
      outline: none;
      margin-top: 14px; }
    .signin-vertical .signin-wrapper .error-message {
      margin: 0;
      color: orange;
      font-size: 1.2rem;
      text-align: left; }
    .signin-vertical .signin-wrapper .signin-button {
      width: 296px;
      height: 42px;
      font-size: 1.5rem;
      margin-top: 30px; }
    .signin-vertical .signin-wrapper .signin-remember {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px; }
      .signin-vertical .signin-wrapper .signin-remember .signin-remember_checkbox {
        display: flex;
        align-items: center; }
        .signin-vertical .signin-wrapper .signin-remember .signin-remember_checkbox .signin-remember_checkbox-icon {
          margin-right: 5px; }
      .signin-vertical .signin-wrapper .signin-remember .signin-remember_text {
        font-size: 1.4rem;
        margin: 0;
        cursor: pointer; }
    .signin-vertical .signin-wrapper .has-no-account {
      margin-top: 10px;
      display: block; }
      .signin-vertical .signin-wrapper .has-no-account .has-no-account_text {
        font-size: 1.6rem;
        text-align: left; }
        .signin-vertical .signin-wrapper .has-no-account .has-no-account_text .has-no-account_text--link {
          text-decoration: none;
          margin-left: 5px;
          cursor: pointer; }
    .signin-vertical .signin-wrapper .recaptcha {
      margin-top: 10px;
      display: block; }
      .signin-vertical .signin-wrapper .recaptcha .recaptcha-text {
        font-size: 1.4rem;
        text-align: left;
        color: gray; }
        .signin-vertical .signin-wrapper .recaptcha .recaptcha-text .recaptcha-text--link {
          text-decoration: none;
          margin-left: 5px;
          cursor: pointer; }
    .signin-vertical .signin-wrapper .signin-close {
      opacity: 1;
      position: absolute;
      top: -18px;
      right: -18px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #081630;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
      content: '';
      cursor: pointer; }
      .signin-vertical .signin-wrapper .signin-close::after {
        content: '';
        display: block;
        border-left: 2px solid #455570;
        width: 2px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%; }
      .signin-vertical .signin-wrapper .signin-close::after {
        transform: translate(-50%, -50%) rotate(45deg); }
      .signin-vertical .signin-wrapper .signin-close::before {
        content: '';
        display: block;
        border-left: 2px solid #455570;
        width: 2px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%; }
      .signin-vertical .signin-wrapper .signin-close::before {
        transform: translate(-50%, -50%) rotate(-45deg); }

.logo-loading {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 59px;
  height: 100%;
  z-index: 10;
  background-color: #fff;
  transition: opacity 0.5s ease-in-out;
  animation: fade 1s linear 3s forwards; }

@keyframes fade {
  from {
    visibility: visible;
    opacity: 1; }
  to {
    visibility: hidden;
    opacity: 0; } }

.logo-loading img {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 10%; }

.animated {
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 0.5s; }

@keyframes tada {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1); }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 7deg); }
  20%,
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -7deg); }
  to {
    opacity: 0;
    transform: scale3d(1, 1, 1); } }

.tada {
  animation-name: tada; }

.container {
  max-width: 940px; }

.movie {
  padding: 75px 0 0; }

.movie-navbar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%; }

.movie-navbar li.movie-navbar--active a {
  font-size: 2.4rem;
  color: #f55238;
  font-weight: 600; }

.movie-navbar li {
  list-style: none; }

.movie-navbar__item-showing-movie a {
  text-decoration: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #000; }

.movie-navbar__item-upcoming-movie a {
  text-decoration: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2.2rem;
  transition: all 0.2s;
  color: #000;
  font-weight: 600; }
  .movie-navbar__item-upcoming-movie a:hover {
    font-size: 2.6rem;
    color: #000; }

/* SHOWING MOVIE SLIDE */
.showing-movie__slide {
  width: 940px; }

.showing-movie {
  position: relative; }
  .showing-movie .slick-prev {
    left: -70px; }
  .showing-movie .slick-next {
    right: -70px; }

.showing-movie__item-image {
  width: auto;
  height: auto; }

.showing-movie__slide {
  padding: 0;
  width: 100%;
  display: inline-block; }

.showing-movie__slide-item {
  padding: 20px 10px 0;
  margin-bottom: 25px;
  cursor: pointer; }
  .showing-movie__slide-item:hover .showHover {
    visibility: visible;
    opacity: 1; }
  .showing-movie__slide-item:hover .showing-movie__slide-item-trailer {
    display: block; }
  .showing-movie__slide-item .showHover {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s; }
  .showing-movie__slide-item .filmThumbnail .hoverEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    background: 0 0;
    background: linear-gradient(to top, #000, transparent 100%);
    top: 0;
    border-radius: 4px; }

.showing-movie__slide-item-detail {
  text-decoration: none; }

.filmThumbnail {
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
  padding-top: 147.906977%; }
  .filmThumbnail .filmThumbnail-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: 318px;
    border-radius: 4px;
    object-fit: fill; }

.showing-movie__slide-item-trailer {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  display: none;
  transition: all 0.2s; }
  .showing-movie__slide-item-trailer:hover {
    filter: brightness(0.7); }

.showing-movie__slide-item-trailer-play {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: none;
  border: none; }

.showing-movie__slide-item-rating {
  font-size: 16px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1; }
  .showing-movie__slide-item-rating .showing-movie__slide-item-rating-text {
    text-align: center;
    transform: scaleY(1.2);
    margin: 0; }

.showing-movie__slide-item-rating-star {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5px 0; }

.half {
  width: 8.08px;
  height: 10px;
  padding-bottom: 2px; }

.smallStar {
  width: 8px;
  height: 8px; }

.showing-movie__slide-item-info {
  position: relative; }

.showing-movie__slide-item-info-name {
  height: 42px;
  max-height: 42px;
  font-size: 16px;
  color: #000;
  line-height: 22px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 600; }

.age-type {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px; }
  .age-type .age-type-general {
    background-color: #00ac4d; }

.showing-movie__slide-item-info-name-length {
  font-size: 13px;
  color: #4a4a4a;
  margin: 0px; }

.spacer {
  padding-top: 120px;
  background: url(./assets/img/spacer.png);
  background-size: 100%;
  background-repeat: no-repeat; }

.news-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%; }

.news-navbar li.news-navbar--active a {
  font-size: 2.6rem;
  color: #f55238;
  font-weight: 600; }

.news-navbar li {
  list-style: none; }

.news-navbar__item-showing-news a {
  text-decoration: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0;
  color: #000; }

.news-navbar__item-upcoming-news a {
  text-decoration: none;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 2.2rem;
  transition: all 0.2s;
  color: #000;
  font-weight: 600; }
  .news-navbar__item-upcoming-news a:hover {
    font-size: 2.6rem;
    color: #000; }

.news-content__left {
  margin-bottom: 20px; }

.news-content__left-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer; }

.news-content__left-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 47px;
  transition: all 0.2s; }

.news-content__left-title:hover {
  cursor: pointer;
  color: #fb4226; }

.news-content__left-description {
  font-size: 1.3rem;
  margin-bottom: 15px;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px; }

.news-content__left-interact {
  display: flex; }

.news-content__left-interact-likes {
  display: flex;
  align-items: center;
  margin-right: 25px; }

.news-content__left-interact-likes-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer; }

.news-content__left-interact-likes-icon:hover {
  transform: scale(1.1); }

.news-content__left-interact-likes-icon img {
  width: 100%;
  height: 100%; }

.news-content__left-interact-likes-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb; }

.news-content__left-interact-comment {
  display: flex;
  align-items: center; }

.news-content__left-interact-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer; }

.news-content__left-interact-comment-icon:hover {
  transform: scale(1.1); }

.news-content__left-interact-comment-icon img {
  width: 100%;
  height: 100%; }

.news-content__left-interact-comment-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb; }

/* BOTTOM RIGHT */
.news-content__bottom-left {
  margin-bottom: 20px; }

.news-content__bottom-left-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer; }

.news-content__bottom-left-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  transition: all 0.2s; }

.news-content__bottom-left-title:hover {
  cursor: pointer;
  color: #fb4226; }

.news-content__bottom-left-description {
  font-size: 1.3rem;
  margin-bottom: 15px;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px; }

.news-content__bottom-left-interact {
  display: flex; }

.news-content__bottom-left-interact-likes {
  display: flex;
  align-items: center;
  margin-right: 25px; }

.news-content__bottom-left-interact-likes-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer; }

.news-content__bottom-left-interact-likes-icon:hover {
  transform: scale(1.1); }

.news-content__bottom-left-interact-likes-icon img {
  width: 100%;
  height: 100%; }

.news-content__bottom-left-interact-likes-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb; }

.news-content__bottom-left-interact-comment {
  display: flex;
  align-items: center; }

.news-content__bottom-left-interact-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer; }

.news-content__bottom-left-interact-comment-icon:hover {
  transform: scale(1.1); }

.news-content__bottom-left-interact-comment-icon img {
  width: 100%;
  height: 100%; }

.news-content__bottom-left-interact-comment-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb; }

.news-content__right {
  margin-bottom: 20px; }

.news-content__right-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer; }

.news-content__right-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 47px;
  transition: all 0.2s; }

.news-content__right-title:hover {
  cursor: pointer;
  color: #fb4226; }

.news-content__right-description {
  font-size: 1.3rem;
  margin-bottom: 15px;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px; }

.news-content__right-interact {
  display: flex; }

.news-content__right-interact-likes {
  display: flex;
  align-items: center;
  margin-right: 25px; }

.news-content__right-interact-likes-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer; }

.news-content__right-interact-likes-icon:hover {
  transform: scale(1.1); }

.news-content__right-interact-likes-icon img {
  width: 100%;
  height: 100%; }

.news-content__right-interact-likes-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb; }

.news-content__right-interact-comment {
  display: flex;
  align-items: center; }

.news-content__right-interact-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer; }

.news-content__right-interact-comment-icon:hover {
  transform: scale(1.1); }

.news-content__right-interact-comment-icon img {
  width: 100%;
  height: 100%; }

.news-content__right-interact-comment-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb; }

/* BOTTOM MID */
.news-content__bottom-mid {
  margin-bottom: 20px; }

.news-content__bottom-mid-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer; }

.news-content__bottom-mid-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  transition: all 0.2s; }

.news-content__bottom-mid-title:hover {
  cursor: pointer;
  color: #fb4226; }

.news-content__bottom-mid-description {
  font-size: 1.3rem;
  margin-bottom: 15px;
  cursor: default;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px; }

.news-content__bottom-mid-interact {
  display: flex; }

.news-content__bottom-mid-interact-likes {
  display: flex;
  align-items: center;
  margin-right: 25px; }

.news-content__bottom-mid-interact-likes-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer; }

.news-content__bottom-mid-interact-likes-icon:hover {
  transform: scale(1.1); }

.news-content__bottom-mid-interact-likes-icon img {
  width: 100%;
  height: 100%; }

.news-content__bottom-mid-interact-likes-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb; }

.news-content__bottom-mid-interact-comment {
  display: flex;
  align-items: center; }

.news-content__bottom-mid-interact-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2s;
  cursor: pointer; }

.news-content__bottom-mid-interact-comment-icon:hover {
  transform: scale(1.1); }

.news-content__bottom-mid-interact-comment-icon img {
  width: 100%;
  height: 100%; }

.news-content__bottom-mid-interact-comment-numbs {
  font-size: 1.4rem;
  padding-left: 15px;
  margin: 0;
  color: #bbb; }

/* XEM THEM */
.news__viewmore {
  width: 100%;
  margin-bottom: 35px; }

.news__viewmore-btn {
  padding: 7px 25px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  transition: all 0.2s; }

.news__viewmore-btn:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: #fff !important; }

.news-content__bottom-right {
  margin-bottom: 20px; }

.news-content__bottom-right-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 10px; }

.news-content__bottom-right-item:hover {
  color: #fb4226; }

.news-content__bottom-right-img {
  width: 50px;
  height: 50px; }

.news-content__bottom-right .news-content__bottom-right-img img {
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all 0.2s;
  flex: 1; }

.news-content__bottom-right-description {
  margin: 0;
  font-size: 1.7rem;
  line-height: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
  transition: color 0.2s;
  flex: 1;
  padding-left: 10px; }

.news-content__bottom-right-title {
  padding-left: 10px; }

/* NEWS DETAIL */
.news-detail__title-top {
  position: relative;
  margin-top: 9%; }

.news-detail__title-top p {
  max-width: 800px;
  text-align: center;
  margin: auto;
  font-size: 4.8rem;
  font-weight: 600; }

.news-detail__author {
  position: absolute;
  transform: rotate(-90deg);
  color: #737576;
  font-size: 12px;
  top: 86%;
  right: -29%;
  font-weight: 600; }

.news-detail__title-count {
  display: flex;
  margin-top: 3%;
  justify-content: center; }

.news-detail__title-count-like {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer; }

.news-detail__title-count-like-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2;
  padding-right: 5px; }

.news-detail__title-count-like:hover .news-detail__title-count-like-icon {
  transform: scale(1.1); }

.news-detail__title-count-like-icon img {
  width: 100%;
  height: auto; }

.news-detail__title-count-like-numbs {
  font-size: 1.4rem;
  color: #7375a0; }

.news-detail__title-count-comment {
  margin-right: 25px;
  cursor: pointer;
  margin-right: 25px; }

.news-detail__title-count-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2;
  padding-right: 5px; }

.news-detail__title-count-comment-numbs {
  font-size: 1.4rem;
  color: #7375a0; }

.news-detail__title-count-share {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer; }

.news-detail__title-count-share-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2; }

.news-detail__title-count-share-numbs {
  font-size: 1.4rem;
  color: #7375a0; }

.news-detail__content {
  margin-top: 40px;
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 400; }

.news-detail__content p {
  margin: 20px auto 0;
  max-width: 720px; }

.news-detail__content-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.news-detail__review {
  max-width: 580px;
  margin: 0 calc(50% - 290px);
  padding: 0;
  position: relative; }

.news-detail__review-avatar {
  position: absolute;
  top: 20%;
  left: 3%; }

.news-detail__review-avatar img {
  width: 36px;
  height: 36px;
  border-radius: 25px; }

.news-detail__review-input {
  appearance: none;
  padding: 10px 10px 10px 55px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #e8e8e9;
  background: #fff;
  color: #9b9b9b;
  font-size: 1.4rem;
  outline: none; }

.app {
  background-image: url("./assets/img/backapp.jpg");
  padding: 120px 0 80px; }

.app__content-download {
  color: #fff;
  padding: 70px 15px 0; }

.app__content-download-text {
  font-size: 3.2rem;
  font-weight: 600; }

.app__content-download-text-small {
  font-size: 1.6rem;
  margin: 20px 0; }

.app__content-download-btn {
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  transition: 0.2 all; }
  .app__content-download-btn:hover {
    background-color: #b42a14; }

.app__content-download-text-bottom a {
  text-decoration: underline !important;
  cursor: pointer !important;
  font-weight: 600; }

.app__content-download-text-bottom {
  font-size: 1.4rem;
  margin: 5px 0 0; }

.app__content-mobile {
  position: relative;
  padding: 0; }

.app__content-mobile-img {
  padding: 0 28%;
  overflow: hidden; }

.app__content-mobile-img img {
  max-width: 100%; }

.app__content-mobile-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5% 29.3% 0 29.3%; }

.app__content-mobile-slider .slick-list {
  border-radius: 20px; }

.footer {
  background-color: #222;
  color: #949494;
  padding: 20px 0; }

.footer__content-about p {
  font-size: 1.1rem;
  color: var(--white-color);
  font-weight: 600; }

.footer__content-about-left {
  display: flex;
  flex-direction: column; }

.footer__content-about-left a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #949494;
  margin-bottom: 10px;
  font-weight: 600; }

.footer__content-about-right {
  display: flex;
  flex-direction: column; }

.footer__content-about-right a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #949494;
  margin-bottom: 10px;
  font-weight: 600; }

.footer__content-partner p {
  font-size: 1.1rem;
  color: var(--white-color);
  font-weight: 600;
  text-transform: uppercase; }

.footer__content-partner-logo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px; }

.mg {
  margin-bottom: 15px; }

.mg a {
  text-decoration: none;
  transition: all 0.2s; }

.mg a:hover {
  opacity: 0.7; }

.footer__content-apps p {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--white-color);
  font-weight: 600; }

.footer__content-apps-img {
  background: 0 0;
  height: 30px;
  width: auto;
  margin: 5px; }

.footer__content__apps-logo a {
  text-decoration: none; }

.footer__content-about a:hover {
  transition: all 0.2s;
  color: var(--white-color); }

.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.zion-logo {
  width: 80px;
  height: auto;
  border-radius: 8px; }

.footer__content-info {
  padding-left: 20px; }

.footer__content-info span {
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 1.2rem;
  font-weight: 600; }

.footer__content-info span:first-child {
  color: var(--white-color); }

.bct-logo {
  width: 130px;
  float: right; }

.news-detail__title-top {
  position: relative;
  margin-top: 9%; }

.news-detail__title-top p {
  max-width: 800px;
  text-align: center;
  margin: auto;
  font-size: 4.8rem;
  font-weight: 600; }

.news-detail__author {
  position: absolute;
  transform: rotate(-90deg);
  color: #737576;
  font-size: 12px;
  top: 86%;
  right: -29%;
  font-weight: 600; }

.news-detail__title-count {
  display: flex;
  margin-top: 3%;
  justify-content: center; }

.news-detail__title-count-like {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer; }

.news-detail__title-count-like-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2;
  padding-right: 5px; }

.news-detail__title-count-like:hover .news-detail__title-count-like-icon {
  transform: scale(1.1); }

.news-detail__title-count-like-icon img {
  width: 100%;
  height: auto; }

.news-detail__title-count-like-numbs {
  font-size: 1.4rem;
  color: #7375a0; }

.news-detail__title-count-comment {
  margin-right: 25px;
  cursor: pointer;
  margin-right: 25px; }

.news-detail__title-count-comment-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2;
  padding-right: 5px; }

.news-detail__title-count-comment-numbs {
  font-size: 1.4rem;
  color: #7375a0; }

.news-detail__title-count-share {
  display: flex;
  align-items: center;
  margin-right: 25px;
  cursor: pointer; }

.news-detail__title-count-share-icon {
  width: 20px;
  height: 20px;
  transition: all 0.2;
  padding-right: 5px; }

.news-detail__title-count-share-numbs {
  font-size: 1.4rem;
  color: #7375a0; }

.news-detail__content {
  margin-top: 40px;
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 400; }

.news-detail__content p {
  margin: 20px auto 0;
  max-width: 720px; }

.news-detail__content-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.news-detail__review {
  max-width: 580px;
  margin: 0 calc(50% - 290px);
  padding: 0;
  position: relative; }

.news-detail__review-avatar {
  position: absolute;
  top: 20%;
  left: 3%; }

.news-detail__review-avatar img {
  width: 36px;
  height: 36px;
  border-radius: 25px; }

.news-detail__review-input {
  appearance: none;
  padding: 10px 10px 10px 55px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #e8e8e9;
  background: #fff;
  color: #9b9b9b;
  font-size: 1.4rem;
  outline: none; }

.line {
  border: 1px solid #ececec; }

.cinema__brand-logo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0; }

.cinema__brand-logo-list::before {
  content: '';
  position: relative;
  border-left: 1px solid red; }

.cinema__brand-logo-list-item {
  width: 78px;
  height: auto;
  padding: 5px;
  position: relative;
  padding: 14px;
  opacity: 0.5;
  transition: all 0.2s; }

.cinema__brand-logo-list-item--active {
  opacity: 1; }

.cinema__brand-logo-list-item:hover {
  opacity: 1; }

.cinema__brand-logo-list-item a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 30px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88); }

.cinema__brand-logo-list-img {
  width: 100%;
  height: auto; }

.cinema__brand-location {
  display: flex;
  align-items: center;
  padding: 10px 20px 15px 20px;
  cursor: pointer;
  opacity: 0.5;
  position: relative;
  transition: all 0.2s; }

.cinema__brand-location--active {
  opacity: 1; }

.cinema__brand-location::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88); }

.cinema__brand-location:hover {
  opacity: 1; }

.cinema__brand-location-img {
  width: 50px;
  height: 50px; }

.cinema__brand-location-img img {
  width: 100%;
  height: auto;
  flex: 1; }

.cinema__brand-location-info {
  padding-left: 10px;
  flex: 1; }

.cinema__brand-location-info-name {
  margin: 0;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 500; }

.cinema__brand-location-info-name-style {
  color: #8bc541; }

.cinema__brand-location-info-address {
  margin: 0;
  font-size: 1.2rem; }

.cinema__brand-location-info-detail {
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fb4226 !important; }

.cinema_showingtime-empty {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px; }

.cinema__showingtime-text {
  margin: 0; }

* {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }
