@import './variables';

.app {
    background-image: url('./assets/img/backapp.jpg');
    padding: 120px 0 80px;
}

.app__content-download {
    color: $white-color;
    padding: 70px 15px 0;
}

.app__content-download-text {
    font-size: 3.2rem;
    font-weight: 600;
}

.app__content-download-text-small {
    font-size: 1.6rem;
    margin: 20px 0;
}
.app__content-download-btn {
    background-color: #fb4226;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    transition: 0.2 all;

    &:hover {
        background-color: #b42a14;
    }
}

.app__content-download-text-bottom a {
    text-decoration: underline !important;
    cursor: pointer !important;
    font-weight: 600;
}

.app__content-download-text-bottom {
    font-size: 1.4rem;
    margin: 5px 0 0;
}

.app__content-mobile {
    position: relative;
    padding: 0;
}

.app__content-mobile-img {
    padding: 0 28%;
    overflow: hidden;
}

.app__content-mobile-img img {
    max-width: 100%;
}

.app__content-mobile-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5% 29.3% 0 29.3%;
}

.app__content-mobile-slider .slick-list {
    border-radius: 20px;
}
