@import './variables';

.line {
    border: 1px solid #ececec;
}
.cinema__brand-logo-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.cinema__brand-logo-list::before {
    content: '';
    position: relative;
    border-left: 1px solid red;
}

.cinema__brand-logo-list-item {
    width: 78px;
    height: auto;
    padding: 5px;
    position: relative;
    padding: 14px;
    opacity: 0.5;
    transition: all 0.2s;
}

.cinema__brand-logo-list-item--active {
    opacity: 1;
}

.cinema__brand-logo-list-item:hover {
    opacity: 1;
}

.cinema__brand-logo-list-item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 30px);
    transform: translateX(-50%);
    border-bottom: 1px solid #fff;
    border-color: rgba(238, 238, 238, 0.88);
}

.cinema__brand-logo-list-img {
    width: 100%;
    height: auto;
}

.cinema__brand-location {
    display: flex;
    align-items: center;
    padding: 10px 20px 15px 20px;
    cursor: pointer;
    opacity: 0.5;
    position: relative;
    transition: all 0.2s;
}

.cinema__brand-location--active {
    opacity: 1;
}

.cinema__brand-location::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 40px);
    transform: translateX(-50%);
    border-bottom: 1px solid #fff;
    border-color: rgba(238, 238, 238, 0.88);
}

.cinema__brand-location:hover {
    opacity: 1;
}
.cinema__brand-location-img {
    width: 50px;
    height: 50px;
}

.cinema__brand-location-img img {
    width: 100%;
    height: auto;
    flex: 1;
}

.cinema__brand-location-info {
    padding-left: 10px;
    flex: 1;
}
.cinema__brand-location-info-name {
    margin: 0;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
}
.cinema__brand-location-info-name-style {
    color: #8bc541;
}
.cinema__brand-location-info-address {
    margin: 0;
    font-size: 1.2rem;
}
.cinema__brand-location-info-detail {
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fb4226 !important;
}

.cinema_showingtime-empty {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
}
.cinema__showingtime-text {
    margin: 0;
}
