@import './variables';

.container {
    max-width: 940px;
}

.movie {
    padding: 75px 0 0;
}

.movie-navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.movie-navbar li.movie-navbar--active a {
    font-size: 2.4rem;
    color: #f55238;
    font-weight: 600;
}

.movie-navbar li {
    list-style: none;
}

.movie-navbar__item-showing-movie a {
    text-decoration: none;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 0;
    color: $black-color;
}

.movie-navbar__item-upcoming-movie a {
    text-decoration: none;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 2.2rem;
    transition: all 0.2s;
    color: $black-color;
    font-weight: 600;

    &:hover {
        font-size: 2.6rem;
        color: $black-color;
    }
}

/* SHOWING MOVIE SLIDE */
.showing-movie__slide {
    width: 940px;
}

.showing-movie {
    position: relative;

    .slick-prev {
        left: -70px;
    }

    .slick-next {
        right: -70px;
    }
}

.showing-movie__item-image {
    width: auto;
    height: auto;
}

.showing-movie__slide {
    padding: 0;
    width: 100%;
    display: inline-block;
}

.showing-movie__slide-item {
    padding: 20px 10px 0;
    margin-bottom: 25px;
    cursor: pointer;

    &:hover .showHover {
        visibility: visible;
        opacity: 1;
    }

    &:hover .showing-movie__slide-item-trailer {
        display: block;
    }

    .showHover {
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
    }

    .filmThumbnail .hoverEffect {
        position: absolute;
        width: 100%;
        height: 100%;
        background: 0 0;
        background: linear-gradient(to top, #000, transparent 100%);
        top: 0;
        border-radius: 4px;
    }
}

.showing-movie__slide-item-detail {
    text-decoration: none;
}

.filmThumbnail {
    margin-bottom: 10px;
    position: relative;
    border-radius: 4px;
    padding-top: 147.906977%;

    .filmThumbnail-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 215px;
        height: 318px;
        border-radius: 4px;
        object-fit: fill;
    }
}
.showing-movie__slide-item-trailer {
    width: 60px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background: 0 0;
    border: none;
    display: none;
    transition: all 0.2s;

    &:hover {
        filter: brightness(0.7);
    }
}

.showing-movie__slide-item-trailer-play {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: none;
    border: none;
}
.showing-movie__slide-item-rating {
    font-size: 16px;
    background-color: rgba(12, 27, 54, 0.8);
    border: 1px solid #1f2e46;
    border-radius: 4px;
    padding: 2px;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    width: 54px;
    text-align: center;
    line-height: 1.1;

    .showing-movie__slide-item-rating-text {
        text-align: center;
        transform: scaleY(1.2);
        margin: 0;
    }
}

.showing-movie__slide-item-rating-star {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px 0;
}

.half {
    width: 8.08px;
    height: 10px;
    padding-bottom: 2px;
}

.smallStar {
    width: 8px;
    height: 8px;
}
.showing-movie__slide-item-info {
    position: relative;
}

.showing-movie__slide-item-info-name {
    height: 42px;
    max-height: 42px;
    font-size: 16px;
    color: #000;
    line-height: 22px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
}

.age-type {
    font-size: 14px;
    background-color: #fb4226;
    border-radius: 4px;
    padding: 0 5px;
    color: #fff;
    min-width: 33px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;

    .age-type-general {
        background-color: #00ac4d;
    }
}

.showing-movie__slide-item-info-name-length {
    font-size: 13px;
    color: #4a4a4a;
    margin: 0px;
}

.spacer {
    padding-top: 120px;
    background: url(./assets/img/spacer.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
