.film-selection {
    position: relative;
}

.film-selection__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.film-selection__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.film-selection__item p {
    margin-bottom: 0;
    font-size: 1.4rem;
}

.film-selection__menu-buy-ticket {
    background-color: #fb4226;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    color: $white-color;
    font-size: 1.4rem;
    transition: 0.2 all;

    &:hover {
        background-color: #b42a14;
    }
}

// SELECT FILM
.select-film {
    position: relative;
    .select-film__dropdown {
        font-size: 1.4rem;
        position: absolute;
        top: 88%;
        left: 1px;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 250px;
        max-height: 300px;
        padding: 5px 0;
        margin: 2px 0 0;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
        overflow-y: scroll;

        .select-film__dropdown-list {
            padding: 3px 20px;
            transition: 0.2 all;

            &:hover {
                background-color: #60c5ef;
            }
        }
    }
}

.select-cineplex {
    position: relative;
    .select-cineplex__dropdown {
        font-size: 1.4rem;
        position: absolute;
        top: 88%;
        left: 1px;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 250px;
        max-height: 300px;
        padding: 5px 0;
        margin: 2px 0 0;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
        overflow-y: scroll;

        .select-cineplex__dropdown-list {
            padding: 3px 20px;
            transition: 0.2 all;

            &:hover {
                background-color: #60c5ef;
            }
        }
    }
}

.select-date {
    position: relative;
    .select-date__dropdown {
        font-size: 1.4rem;
        position: absolute;
        top: 88%;
        left: 1px;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 150px;
        max-height: 300px;
        padding: 5px 0;
        margin: 2px 0 0;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
        overflow-y: scroll;
        .select-date__dropdown--error {
            min-width: 250px;
            padding: 3px 20px;
        }
        .select-date__dropdown-list {
            padding: 3px 20px;
            transition: 0.2 all;

            &:hover {
                background-color: #60c5ef;
            }
        }
    }
}

.select-session {
    position: relative;
    .select-session__dropdown {
        font-size: 1.4rem;
        position: absolute;
        top: 88%;
        left: 1px;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 150px;
        max-height: 300px;
        padding: 5px 0;
        margin: 2px 0 0;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
        overflow-y: scroll;
        .select-session__dropdown--error {
            min-width: 290px;
            padding: 3px 20px;
        }
        .select-session__dropdown-list {
            padding: 3px 20px;
            transition: 0.2 all;

            &:hover {
                background-color: #60c5ef;
            }
        }
    }
}
