.news-detail__title-top {
    position: relative;
    margin-top: 9%;
}

.news-detail__title-top p {
    max-width: 800px;
    text-align: center;
    margin: auto;
    font-size: 4.8rem;
    font-weight: 600;
}

.news-detail__author {
    position: absolute;
    transform: rotate(-90deg);
    color: #737576;
    font-size: 12px;
    top: 86%;
    right: -29%;
    font-weight: 600;
}

.news-detail__title-count {
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.news-detail__title-count-like {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
}

.news-detail__title-count-like-icon {
    width: 20px;
    height: 20px;
    transition: all 0.2;
    padding-right: 5px;
}

.news-detail__title-count-like:hover .news-detail__title-count-like-icon {
    transform: scale(1.1);
}

.news-detail__title-count-like-icon img {
    width: 100%;
    height: auto;
}
.news-detail__title-count-like-numbs {
    font-size: 1.4rem;
    color: #7375a0;
}

.news-detail__title-count-comment {
    margin-right: 25px;
    cursor: pointer;
    margin-right: 25px;
}
.news-detail__title-count-comment-icon {
    width: 20px;
    height: 20px;
    transition: all 0.2;
    padding-right: 5px;
}
.news-detail__title-count-comment-numbs {
    font-size: 1.4rem;
    color: #7375a0;
}
.news-detail__title-count-share {
    display: flex;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
}
.news-detail__title-count-share-icon {
    width: 20px;
    height: 20px;
    transition: all 0.2;
    padding-right: 5px;
}
.news-detail__title-count-share-numbs {
    font-size: 1.4rem;
    color: #7375a0;
}

.news-detail__content {
    margin-top: 40px;
    text-align: justify;
    font-size: 1.6rem;
    font-weight: 400;
}

.news-detail__content p {
    margin: 20px auto 0;
    max-width: 720px;
}

.news-detail__content-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.news-detail__review {
    max-width: 580px;
    margin: 0 calc(50% - 290px);
    padding: 0;
    position: relative;
}

.news-detail__review-avatar {
    position: absolute;
    top: 20%;
    left: 3%;
}

.news-detail__review-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 25px;
}

.news-detail__review-input {
    appearance: none;
    padding: 10px 10px 10px 55px;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #e8e8e9;
    background: #fff;
    color: #9b9b9b;
    font-size: 1.4rem;
    outline: none;
}
